<div class="jumbotron">
	
	<h1>BCE Tech</h1>
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%></p>
	
</div>
<div class="row">
  <div class="col-md-6">
  	<%=image_tag("bce.jpg")%>
  </div>
 
 
  <div class="col-md-6">
  	<%=image_tag("bce.jpg")%>
  </div>
</div>
